@layer theme, base, utilities;
@import "tailwindcss";

/* APP FONT */
:root {
    --app-font: var(--font-quicksand), sans-serif;
}

html[data-locale="jp"] {
    --app-font: var(--font-noto-sans-jp), sans-serif;
}

/* APP LIGHT & DARK MODE */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-noto-sans-jp: var(--font-noto-sans-jp), sans-serif;
    --font-quicksand: var(--font-quicksand), sans-serif;

    /* LIGHT MODE */
    /*background color*/
    --color-bgc-app: #ffffff;
    --color-bgc-page: #f7f7f7;
    --color-bgc-highlight: #ff99ac;
    --color-bgc-error: #f87171;

    /*hover background color*/
    --color-hbgc-app: #f1f3f4;
    --color-hbgc-error: #ef233c;
    --color-hbgc-page: #f3f3f3;

    /*text color*/
    --color-text-pure: #fdfffc;
    --color-text-contrast: #333533;
    --color-text-muted: #adb5bd;
    --color-text-highlight: #ff99ac;
    --color-text-error: #ef233c;

    /*border color*/
    --color-bdc-primary: #e9e9e9;
    --color-bdc-muted: #ced4da;
}

/* DARK MODE */
@layer base {
    .dark {
        /*background color*/
        --color-bgc-app: #141414;
        --color-bgc-page: #0a0a0a;
        --color-bgc-highlight: #ff99ac;
        --color-bgc-error: #f87171;

        /*hover background color*/
        --color-hbgc-app: #2e2e2e;
        --color-hbgc-error: #ef233c;
        --color-hbgc-page: #42423f;

        /*text color*/
        --color-text-pure: #333533;
        --color-text-contrast: #fdfffc;
        --color-text-muted: #adb5bd;
        --color-text-highlight: #ff99ac;
        --color-text-error: #ef233c;

        /*border color*/
        --color-bdc-primary: #242424;
        --color-bdc-muted: #383838;
    }

}

/* Ẩn nút hiện/xoá mật khẩu mặc định của trình duyệt (Edge) vì đã có
   nút toggle riêng -> tránh hiển thị 2 con mắt. */
input::-ms-reveal,
input::-ms-clear {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

@utility no-scrollbar {
    @apply scrollbar-none [&::-webkit-scrollbar]:hidden;
}

/* width của scrollbar */
::-webkit-scrollbar {
    display: none;
    width: 4px;
    height: 4px;
}

/* track (nền phía sau) */
::-webkit-scrollbar-track {
    background: transparent;
}

/* thumb (thanh kéo) */
::-webkit-scrollbar-thumb {
    background-color: var(--color-bgc-highlight);
    border-radius: 12px;
}

/* hover thumb */
::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
}
